* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #001821;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}
  
ul li {
  list-style: none;
}
  
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}
  
p {
  margin-top: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  overflow: hidden;
}

.main-page-wrapper {
  background: url("../images/bg/hero.jpg") center top -10px no-repeat, url("../images/bg/bottom-pic.jpg") center bottom -230px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.hero {
  margin-bottom: 244px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 520px;
}

.hero__text-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 28px;
}

.hero__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 34px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 20px;
}

.header__col {
  display: flex;
  justify-content: space-between;
}

.header__col--align--right {
  justify-content: flex-end;
}


.logo__image {
  width: 85px;
  height: 36px;
}

.menu {
  margin-top: 8px;
  margin-left: 80px;
}


.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts {
  position: relative;
  margin-left: auto;
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__dropdown-title {
  position: absolute;
  top: 28px;
  left: 90px;
  font-size: 13px;
  text-decoration: underline;
  color: #98A4A8;
}

.contacts__dropdown-title:hover {
  color: #fff;
  cursor: pointer;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
  line-height: 1.82;
}


.btn {
  margin-right: auto;
  padding: 18px 40px;
  color: #ffffff;
  background: #F5170E;
  border-radius: 35px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background: #DA0100;
  box-shadow: 0 0 25px 0 rgba(223, 3, 3, .15);
}

.section-offers {
  margin-bottom: 124px;
}

.section__title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}


.section__title--flame:after {
  content: url("../images/icons/flame.png");
  width: 21px;
  height: 28px;
  position: absolute;
  top: 3px;
  left: 284px;
}

.offers {
  display: flex;
  justify-content: space-between;
}
.offers__item {
  width: calc(100% / 3 - 18px);
}

.offer {
  min-height: 450px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.offer__item:last-child {
  margin-right: 0;
}

.offer__header {
  width: 100%;
  height: 144px;
}

.offer__header-img {
  display: block;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.offer__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #000;
  background: #fff;
  min-height: 305px;
  padding: 33px 16px 26px 22px;
}

.offer__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.offer__features {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}


.offer__feature-cell {
  margin-right: 36px;
}

.offer__feature-icon {
  display: inline-block;
  vertical-align: middle;
}

.offer__feature-desc {
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
  color: #666;
  font-size: 16px;
  line-height: 1.38;
}

.offer__text {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 32px;
}

.offer__btn-wrapper {
  margin-top: auto;
  margin-bottom: 18px;
}

.offer__btn {
  padding: 17px 29px;
  border: 1px solid #F5170E;
  color: #F5170E;
  background: #fff;
}

.offer__btn:hover {
  padding: 17px 29px;
  border: 1px solid #F5170E;
  color: #fff;
  background: #F5170E;
}

.section-news {
  margin-bottom: 144px;
}

.news {
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  height: 394px;
  flex: 1;
  margin-right: 2%;
  }
  
.single-news {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-news__text-content {
  position: absolute;
  height: 140px;
  left: 0;
  right: 0;
  bottom: 5px;
  padding: 0 29px;
  line-height: 1.5;
}

.single-news__date {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.7;

}

.single-news__title {
  font-size: 24px;
  font-weight: bold;
}

.single-news__desc {
  font-size: 16px;
  line-height: 1.42;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

/* .pager__display, .pager__list, .pager__item {
  display: inline-block;
  vertical-align: middle;
} */

.pager__display {
  margin-right: 25px;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pager__item--active .pager__link {
  background: #fff;
  color: #F5170E;
}

.section-about {
  margin-bottom: 54px;
}

.about {
  display: flex;
}

.about:before, .about__desc {
  border-radius: 5px;
}

.about:before {
  display: block;
  content: '';
  width: 490px;
  height: 505px;
  
  background: url("../images/decor/gates.jpg") center center / cover no-repeat;
}

.about__desc {
  background: url("../images/decor/mountains.jpg") center center / cover no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 81px;
  padding-right: 203px;
  max-width: 785px;
  height: 455px;
  margin-left: -135px;
  margin-top: 97px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 37px;
  color: #000;
}

.about__desc-text {
  font-size: 16px;
  line-height: 1.69;
  margin-bottom: 58px;
  color: #060606;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}

.footer {
  position: relative;
  height: 92px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-container {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-bottom: 50px;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.socials{
  margin-right: 74px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
  background-image: url("../images/icons/socials/t.png");
}

.socials__item--icon--telegram .socials__link:hover {
  background-image: url("../images/icons/socials/t2.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("../images/icons/socials/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("../images/icons/socials/vk2.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("../images/icons/socials/f.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("../images/icons/socials/f2.png");
}

.socials__item--icon--insta .socials__link {
  background-image: url("../images/icons/socials/in.png");
}

.socials__item--icon--insta .socials__link:hover {
  background-image: url("../images/icons/socials/in2.png");
}
