* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #001821;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

.main-page-wrapper {
    background: url("../images/bg/hero.jpg") center top -7px no-repeat, url("../images/bg/bottom-pic.jpg") center bottom -280px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.header {
    height: 125px;
    position: relative;
    top: 19px;
    margin-bottom: 65px;
}

.logo {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
}

.logo__image {
    width: 85px;
    height: 36px;
}

.menu {
    position: absolute;
    top: 11px;
    left: 163px;
}


.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    position: absolute;
    left: 950px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
}

.contacts__dropdown-title {
    position: absolute;
    top: 29px;
    left: 91px;
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.contacts__dropdown-title:hover {
    color: #fff;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 1.82;
}

.hero {
    margin-bottom: 244px;
}

.hero__text-section {
    width: 520px;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.36;
    margin-bottom: 27px;
}

.hero__subtitle {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
    margin-bottom: 33px;
}

.btn {
    display: inline-block;
    padding: 18px 40px;
    color: #ffffff;
    background: #F5170E;
    border-radius: 35px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42;
    text-decoration: none;
    text-transform: uppercase;
}

.btn:hover {
    background: #DA0100;
    box-shadow: 0 0 25px 0 rgba(223, 3, 3, .15);
}

.section-hot {
    margin-bottom: 119px;
}

.section__title {
    display: inline-block;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}


.section__title--flame:after {
    content: url("../images/icons/flame.png");
    width: 21px;
    height: 28px;
    position: absolute;
    top: 3px;
    left: 284px;
}

.hot__item {
    width: 362px;
    display: inline-block;
    min-height: 450px;
    margin-right: 23px;
    border-radius: 5px;
    overflow: hidden;
}

.hot__item:last-child {
    margin-right: 0;
}

.hot__header {
    width: 100%;
    height: 144px;
}

.hot__header-img {
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.hot__content {
    /*padding-top: 17px;
    padding-bottom: 4px;*/
    color: #000;
    background: #fff;
    min-height: 305px;
}

.hot__title {
    font-weight: bold;
    font-size: 24px;
    padding: 33px 22px 21px;
}

.hot__features {
    margin-bottom: 25px;
    width: 100%;
}

.hot__feature-block {
    margin-bottom: 24px;
}

.hot__feature-cell {
    display: inline-block;
    margin-left: 28px;
    /*width: 130px;*/
}

.hot__feature-icon {
    display: inline-block;
    vertical-align: middle;
}

.hot__feature-desc {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    color: #666;
    font-size: 16px;
    line-height: 1.38;
}

.hot__text {
    display: inline-block;
    font-size: 14px;
    line-height: 1.43;
    width: 324px;
    margin: 0px 16px 0px 22px;
}

.hot__btn-wrapper {
    margin-left: 24px;
    margin-bottom: 26px;
}

.hot__btn {
    padding: 17px 29px;
    border: 1px solid #F5170E;
    color: #F5170E;
    background: #fff;
}

.hot__btn:hover {
    padding: 17px 29px;
    border: 1px solid #F5170E;
    color: #fff;
    background: #F5170E;
}

.section-news {
    margin-bottom: 144px;
}

.news {
    margin-bottom: 53px;
}

.news__item {
    width: 555px;
    min-height: 394px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.news__item:first-child {
    margin-right: 22px;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content {
    position: absolute;
    height: 140px;
    left: 0;
    right: 0;
    bottom: 5px;
    padding: 0 29px;
    line-height: 1.5;
}

.news__date {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.7;

}

.news__title {
    font-size: 24px;
    font-weight: bold;
}

.news__desc {
    font-size: 16px;
    line-height: 1.42;
}

.pager {
    text-align: center;
}

.pager__display, .pager__list, .pager__item {
    display: inline-block;
    vertical-align: middle;
}

.pager__display {
    margin-right: 25px;
}

.pager__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pager__item--active .pager__link {
    background: #fff;
    color: #F5170E;
}

.section-about {
    margin-bottom: 54px;
}

.about:before, .about__desc {
    display: inline-block;
    vertical-align: top;
}

.about:before {
    content: '';
    width: 490px;
    height: 505px;
    border-radius: 5px;
    background: url("../images/decor/gates.jpg") center center / cover no-repeat;
}

.about__desc {
    background: url("../images/decor/mountains.jpg") center center / cover no-repeat;
    border-radius: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 81px;
    padding-right: 203px;
    width: 785px;
    height: 455px;
    margin-left: -142px;
    margin-top: 97px;
}

.about__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.36;
    margin-bottom: 37px;
    color: #000;
}

.about__desc-text {
    font-size: 16px;
    line-height: 1.69;
    margin-bottom: 44px;
    color: #060606;
}

.about__desc-text p {
    margin-bottom: 20px;
}

.about__desc-text p:last-child {
    margin-bottom: 0;
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.footer {
    position: relative;
    height: 92px;
    margin-bottom: 50px;
}

.socials{
    position: absolute;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background-image: url("../images/icons/socials/t.png");
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url("../images/icons/socials/t2.png");
}

.socials__item--icon--vk .socials__link {
    background-image: url("../images/icons/socials/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url("../images/icons/socials/vk2.png");
}

.socials__item--icon--fb .socials__link {
    background-image: url("../images/icons/socials/f.png");
}

.socials__item--icon--fb .socials__link:hover {
    background-image: url("../images/icons/socials/f2.png");
}

.socials__item--icon--insta .socials__link {
    background-image: url("../images/icons/socials/in.png");
}

.socials__item--icon--insta .socials__link:hover {
    background-image: url("../images/icons/socials/in2.png");
}

.footer__logo {
    top: 47px;
}

.footer__menu {
    top: 57px;
}

.footer__socials {
    top: 50px;
    right: 266px;
}

.footer__contacts {
    top: 43px;
}
