.about {
  display: flex;
}

.about:before, .about__desc {
  border-radius: 5px;
}

.about:before {
  display: block;
  content: '';
  width: 490px;
  height: 505px;
  background: url("../../images/decor/gates.jpg") center center / cover no-repeat;
}

.about__desc {
  background: url("../../images/decor/mountains.jpg") center center / cover no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 81px;
  padding-right: 203px;
  max-width: 785px;
  height: 455px;
  margin-left: -135px;
  margin-top: 97px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 37px;
  color: #000;
}

.about__desc-text {
  font-size: 16px;
  line-height: 1.69;
  margin-bottom: 58px;
  color: #060606;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text p:last-child {
  margin-bottom: 0;
}