.breadcrumbs {
  padding-bottom: 20px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  padding-left: 2px;
}

.breadcrumbs__item:first-child {
  padding-left: 0;
}

.breadcrumbs__item:after {
  content: "/";
  padding-left: 2px;
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #9A9A9A;
  font-size: 14px;
  line-height: 1.36;
  text-decoration: underline;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
}