.footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}