.hero {
  margin-bottom: 244px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 520px;
}

.hero__text-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 28px;
}

.hero__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 34px;
}