.section__title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}


.section__title--flame:after {
  content: url("../../images/icons/flame.png");
  width: 21px;
  height: 28px;
  position: absolute;
  top: 3px;
  left: 284px;
}